.modal-backdrop {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-backdrop.modal-open {
  opacity: 1;
}

.modal-backdrop.modal-closing {
  opacity: 0;
}

.modal-content {
  transform: scale(0.7) translateY(-50px);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.modal-content.modal-content-open {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.modal-content.modal-content-closing {
  transform: scale(0.7) translateY(-50px);
  opacity: 0;
}

